.container {
  width: 60vw;
  margin: auto;
  font-size: 24px;
  text-align: center;
}
.about-header {
  font-size: 2em;
}

.header{
  margin: 61px 0 0 0;
}

.header-logo {
  max-height: 50%;
  max-width: 50%;
  margin: auto;
  background: #00e1fc;
}

.about-container {
  margin-bottom: 10px;
}

.about-text {
  border-radius: 5px;
  text-align: center;
  padding: 30px 30px 40px 30px;
  color: #0071FC;
  background-color: rgba(255, 254, 254);
  text-align: center;
  font-size: 26px;
  margin: 20px 0;
}

.email-input {
  min-width: 300px;
}

.icon {
  margin-right: 5px;
  vertical-align: bottom !important; 
}

.submit-button{
  background-color: #0071FC;
}

.fa {
  background: white;
  border-radius: 50%;
  color: #00E0FC;
  font-size: 30px;
  margin: 10px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  width: 30px;
}

.fa:hover {
  opacity: 0.7;
}

.social-media {
  margin-top: 70px;
}

